body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}

.content{
    text-align: center;
    margin: auto;
}

.btn{
    background-color: lightcoral;
    width: 125px;
    height: 75px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 100px;
}